.main-sky{
  background-image: url(https://media1.giphy.com/media/AN43eq5EhiQrOyJ8HC/giphy.gif?cid=790b76118a7e44c93d12de2108a2cc0c63a016282b88fb26&rid=giphy.gif&ct=g);
  background-repeat: no-repeat;
  background-size: cover;
}

.husky-stare{
  background-image: url(https://media3.giphy.com/media/1Wck8KNfOn4ydBjbKX/giphy.gif?cid=790b76111e8ab14b2d34aaadaba25d34a7a8278758b327a8&rid=giphy.gif&ct=g);
  background-repeat: no-repeat;
  background-size: cover;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
